.container{
    margin: auto;
    text-align: center;
}
.container h1{
    font-size: 80px;
    font-family: Impact;
}
.container p{
    font-size: 35px;
}
.container button{
    width: 200px;
    height: 60px;
    background-color: blue;
    color: white;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 25px;
}
.container button:hover{
    background-color: green;
}
